.main-header {
    background-color: transparent;
    padding: 5px 0 0;
    text-align: center;
}

.main-img {
    max-width: 100%;
    margin-bottom: 5px;
    border: 1px solid #ffdb00;
}

.main-button {
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #ffdb00;
    border: 1px solid #ffdb00;
    color: #fff;
    padding: 7px 15px;
    cursor: pointer;
    transition: 0.3s all linear;
}

.main-button:hover {
    background-color: #ffffff;
    color: #000;
}
.main-title,
.main-list {
    background-color: #ffdb00;
}
.main-list {
    padding-bottom: 10px;
}
